anim
anim_output
artroid
artroid_output
bak
bak2
bak3
bsxx
bsxx_output
ks
ks_output
node_modules
nodejs
raw_images
raw_images_output
scn
scn_output
shina_rio
shina_rio_output
softpal
softpal_output
spt
spt_output
srp
srp_output
ybn
ybn_output
csv
csv_output