.env
anim*
artroid*
bak*
bsxx_*
ks_*
node_modules
nodejs
raw_images*
scn
scn*
shina_rio*
softpal*
spt*
srp*
ybn*
csv*
cst*
bak4
anim
artroid
bak
bsxx
ks
raw_images
scn
shina_rio
softpal
spt
srp
ybn
csv
cst
csmv
csa
csa_*
ain
ain_*
rpgm
rpgm_*
Waffle
waffle_*
openAi_*
BGI
BGI_*
AST
AST_*
whale
whale_*
EAGLS
EAGLS_*
CUBE
CUBE_*
pinpoint
pinpoint_*
qlie
qlie_*