.env
anim*
artroid*
bak*
bsxx_*
ks_*
node_modules
nodejs
raw_images*
scn
scn*
shina_rio*
softpal*
spt*
srp*
ybn*
csv*
cst*
bak4
anim
artroid
bak
bsxx
ks
raw_images
scn
shina_rio
softpal
spt
srp
ybn
csv
cst
csmv
csa
csa_*
ain
ain_*